<div class="container">
    <hinv-header></hinv-header>
    <hinv-header></hinv-header>
    <hinv-header></hinv-header>
    <!-- <ng-template #headerPlace></ng-template> -->

    <h1 class="helloWorld">Hello World</h1>
    <h2>App name: {{title}}</h2>

    <h3>We are building this hotel inventory app</h3>
    <hr>
    <hinv-rooms></hinv-rooms>

    <div #customDecorableDiv></div>
    <hr>
    <hinv-contcontainer *ngIf="!closeContainer">
        <hinv-lowpriocont></hinv-lowpriocont>
        <hinv-highpriocont></hinv-highpriocont>
        <button class="btn btn-danger" (click)="closeContainer = true;">Bandh Karr ye!</button>
        <strong>blah blah blah</strong>
    </hinv-contcontainer>
    <button *ngIf="closeContainer" class="btn btn-success" (click)="closeContainer = false;">Container Kidhar Hai!</button>
    <hinv-dynacomp></hinv-dynacomp>
    <!-- <hinv-all-expenses></hinv-all-expenses> -->
    <hr>
    Running {{configData.env}}@{{configData.ver}}
</div>