div.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

div.form-floating {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.formSubmitButtons > button {
    margin: 5px;
}