<h1>Rooms in {{hotelName}}</h1>
<ul>
    <li>Total floors {{roomDetails.totalFloors}}</li>
</ul>
<p [ngClass]="isHotelOpen ? 'hotelOpen' : 'hotelClosed'">Rooms availability -- </p>
<p [ngStyle]="isHotelOpen ? {color: 'green'}: {color: 'red'}" [innerText]="rooms | json"></p>

<p>is hotel open for booking: {{isHotelOpen ? "yes" : "no"}}</p>
<button (click)="toggle()">Change hotel status</button>


<p style="color: green;" *ngIf="rooms.availableRooms > 0 && isHotelOpen">Book your rooms now!</p>
<p style="color: red;" *ngIf="rooms.availableRooms <= 0">Hotel is completely booked!!!</p>
<p style="color: maroon;" *ngIf="rooms.availableRooms > 0 && !isHotelOpen">Rooms are available but hotel is closed!!!
</p>


<button (click)="bookAllRooms()" *ngIf="rooms.availableRooms > 0 && isHotelOpen">Book All Rooms</button>
<button (click)="freeAllRooms()" *ngIf="rooms.bookedRooms > 0 && isHotelOpen">Free All Rooms</button>

<hr>
<h3>Rooms</h3>
<ol>
    <li *ngFor="let roomDetails of roomList; let i = index">
        {{i+1}}
        <p *ngFor="let roomDetail of roomDetails | keyvalue; let i=index">{{i+1}}
        
            <span *ngIf="roomDetail.key !== 'roomType'">
                <strong>{{roomDetail.key}}</strong>: {{roomDetail.value}}
            </span>
            <span *ngIf="roomDetail.key === 'roomType'">

                <span [ngSwitch]="roomDetail.value">
                    <span *ngSwitchCase="'TERI_AUKAT_SE_BAHAR'" style="color: red;">
                        <strong>{{roomDetail.key}}</strong>: {{roomDetail.value}}
                    </span>
                    <span *ngSwitchCase="'LUXURY'" style="color: blue;">
                        <strong>{{roomDetail.key}}</strong>: {{roomDetail.value}}
                    </span>
                    <span *ngSwitchCase="'NORMAL'" style="color: green;">
                        <strong>{{roomDetail.key}}</strong>: {{roomDetail.value}}
                    </span>
                    <span *ngSwitchDefault style="color: black;">
                        <strong>{{roomDetail.key}}</strong>: {{roomDetail.value}}
                    </span>
                </span>

            </span>
           
    
            
        
        </p>
        <hr>
    </li>
</ol>